#app {
    text-align: center;

    .page-footer {
        margin-top: 20px;
        padding: 20px;
    }
}

#alerts {
    height: 40px;
    line-height: 40px;
}

#board {
    position: relative;
    margin: auto;
    background-color: #DCB771;
}

.intersection {
    width: 40px;
    height: 40px;
    position: absolute;

    &:before {
        border-top: 2px #000 solid;
        width: 40px;
        display: block;
        content: "";
        top: 18px;
        position: absolute;
        // z-index: -1;
    }

    &:after {
        border-left: 2px #000 solid;
        height: 40px;
        display: block;
        content: "";
        left: 18px;
        top: 0px;
        position: absolute;
        // z-index: -1;
    }

    .stone {
        width: 40px;
        height: 40px;
        border: 1px solid #000;
        border-radius: 20px;
        box-sizing: border-box;
        z-index: 1;

        &.white {
            background-color: #eee;
        }

        &.black {
            background-color: #444;
        }
    }
}
